doctype html
html(lang="uk")
  head
    title Poster QR
    link(rel="stylesheet", href="/css/theme.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Poster QR")

    meta(name="msapplication-TileColor", content="#2d89ef")
    meta(name="theme-color", content="#f8f9fa")

    include bootstrap.pug

    script
      include:uglify-js ../../client/js/theme.js

    script(type="module") 
      include:uglify-js ../../client/js/modal.js

  body.bg-body-tertiary(
    style=`background-image: url(${settings.background})`
  )
    include ../mixins/fontawesome.pug

    block content
