mixin fa(icon)
  if icon === "book-open-cover"
    include:fa-icon:no-newline ../../img/fa/regular/book-open-cover.svg
  else if icon === "credit-card"
    include:fa-icon:no-newline ../../img/fa/regular/credit-card.svg
  else if icon === "moped"
    include:fa-icon:no-newline ../../img/fa/regular/moped.svg
  else
    include:fa-icon:no-newline ../../img/fa/regular/notdef.svg
