mixin fa(icon)
  case icon 
    when "book-open-cover"
      include:fa-icon ../../fontawesome/svgs/regular/book-open-cover.svg
    when "credit-card"
      include:fa-icon ../../fontawesome/svgs/regular/credit-card.svg
    when "moped"
      include:fa-icon ../../fontawesome/svgs/regular/moped.svg
    when "qrcode"
      include:fa-icon ../../fontawesome/svgs/regular/qrcode.svg
    when "chevron-right"
      include:fa-icon ../../fontawesome/svgs/regular/chevron-right.svg
    when "brightness"
      include:fa-icon ../../fontawesome/svgs/regular/brightness.svg
    when "moon"
      include:fa-icon ../../fontawesome/svgs/regular/moon.svg

    default
      include:fa-icon ../../fontawesome/svgs/regular/notdef.svg
